<aside class="home__top">
  <div class="home__top-user">
    <p>Daptellum</p>
    <div></div>
  </div>
  <div class="home__top-employees">
    <h2>Top employees</h2>
    <!-- <div class="home__employees-wrap"> -->
      <div class="home__employees-item">
        <div class="home__employees-image"></div>
        <div class="home__employees-text">
          <p>John Smith</p>
          <p>Front end developer</p>
        </div>
      </div>
      <div class="home__employees-item">
        <div class="home__employees-image"></div>
        <div class="home__employees-text">
          <p>John Smith</p>
          <p>Front end developer</p>
        </div>
      </div>
      <div class="home__employees-item">
        <div class="home__employees-image"></div>
        <div class="home__employees-text">
          <p>John Smith</p>
          <p>Front end developer</p>
        </div>
      </div>
      <div class="home__employees-item">
        <div class="home__employees-image"></div>
        <div class="home__employees-text">
          <p>John Smith</p>
          <p>Front end developer</p>
        </div>
      </div>
      
    <!-- </div> -->
  </div>
</aside>