.work-card
  width: 220px
  background: #fff
  box-shadow: 0px 9px 25px rgba(0, 0, 0, 0.24)
  border-radius: 40px
  border: 1px solid rgba(0, 0, 0, 0.22)
  padding: 25px
  transition: all .2s
  cursor: default
  &:hover
    transform: scale(0.93)
  h2
    font-weight: 500
    font-size: 25px
  &__descr
    font-size: 19px
    font-weight: 300
    margin-top: 10px
  &__location
    display: flex
    margin-top: 10px
    align-items: center
    margin-left: -6px
    p
      font-size: 19px
      font-weight: 300
  &__price
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 10px
    p
      font-size: 19px
      font-weight: 300
      display: flex
      align-items: center
      span
        font-weight: 500
        font-size: 28px
        margin-right: 7px
    button
      width: 105px
      height: 45px
      background: linear-gradient(137.99deg, #556BE0 0%, #1A2668 82.59%)
      border-radius: 11px
      border: none
      outline: none
      font-size: 18px
      font-weight: 700
      color: #fff
      cursor: pointer
